DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DB?sslmode=require"
JWT_ACCESS_SECRET="change-me-access-secret-with-at-least-32-chars"
JWT_REFRESH_SECRET="change-me-refresh-secret-with-at-least-32-chars"
CLIENT_URL="https://your-storesync-project.vercel.app"
VITE_API_URL="/api"
NODE_ENV="production"
